* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  opacity: 0.6;
}
h2 {
  opacity: 0.6;
}
h3 {
  color: rgb(40, 92, 91);
  opacity: 0.8;
}
h4 {
  color: rgb(77, 77, 77);
  opacity: 0.8;
}
main {
  min-height: 100vh;
  background: linear-gradient(109deg, rgb(162, 250, 249), rgb(74, 248, 231));
  display: flex;
  align-items: center;
  justify-content: center;
}

.glossy {
  background: linear-gradient(
    109deg,
    rgb(255, 255, 255, 0.5),
    rgb(255, 248, 231, 0.2)
  );
  border-radius: 2rem;
  min-height: 80vh;
  width: 80%;
  z-index: 3;
  backdrop-filter: blur(2rem);
  display: flex;
}

.bgextra1,
.bgextra2 {
  background: white;
  background: linear-gradient(109deg, rgb(255, 255, 255), rgb(74, 248, 231));

  width: 20rem;
  height: 20rem;
  position: absolute;
  border-radius: 10rem;
}

.bgextra1 {
  top: 5%;
  right: 15%;
}
.bgextra2 {
  bottom: 5%;
  left: 10%;
}

.user-img {
  /* margin-top: 50px; */
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
}

.dashboard {
  padding-top: 10px;
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(
    109deg,
    rgb(255, 255, 255, 0.5),
    rgb(255, 248, 231, 0.2)
  );
  border-radius: 2rem;
  flex: 1;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.intressen {
  margin-top: 30px;
}
.link {
  margin: 3rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}

.link img {
  width: 40px;
}
.right-panel {
  margin: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*.status {
  margin-bottom: 3rem;
}*/

.card {
  display: flex;

  justify-content: space-evenly;
  background: linear-gradient(109deg, rgb(255, 255, 255), rgb(173, 247, 239));
  border-radius: 1rem;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  box-shadow: 9px 9px 20px rgba(112, 111, 111, 0.2);
}

.card img {
  margin-right: 20px;
  width: 90px;
}
.card p {
font-weight:lighter;
}
